#save {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

#save:hover {
    -fx-background-color: #e0e0e0; /* Fondo claro al pasar el mouse */
    -fx-scale-x: 1.1; /* Efecto de zoom */
    -fx-scale-y: 1.1;
}